---
services:
  redis:
    image: "redis:7.0.4"
    healthcheck:
      test: ["CMD", "redis-cli", "-h", "127.0.0.1", "ping"]
      interval: 30s
      timeout: 3s
      retries: 10
    restart: on-failure
    volumes:
      - redis:/data
    networks:
      - default
    # ports:
    #   - 6379:6379
  mysql:
    image: mariadb:10
    environment:
      - MYSQL_ROOT_PASSWORD=CHANGEME
      - MYSQL_DATABASE=scoring_engine
      - MYSQL_USER=se_user
      - MYSQL_PASSWORD=CHANGEME
    restart: on-failure
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 3s
      retries: 10
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - default
    # ports:
    #   - 3306:3306
  nginx:
    image: mjarvy/scoring-engine-nginx
    depends_on:
      web:
        condition: service_healthy
    ports:
      - 80:80
      - 443:443
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 3s
      retries: 10
    restart: on-failure
    networks:
      - default
  bootstrap:
    image: mjarvy/scoring-engine-bootstrap
    depends_on:
      base:
        condition: service_started
      mysql:
        condition: service_healthy
    restart: on-failure
    networks:
      - default
    environment:
      - SCORINGENGINE_EXAMPLE
      - SCORINGENGINE_OVERWRITE_DB
      - SCORINGENGINE_VERSION
  engine:
    image: mjarvy/scoring-engine-engine
    depends_on:
      base:
        condition: service_started
      redis:
        condition: service_healthy
      bootstrap:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - default
    environment:
      - SCORINGENGINE_EXAMPLE
      - SCORINGENGINE_VERSION
  worker:
    image: mjarvy/scoring-engine-worker
    depends_on:
      base:
        condition: service_started
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - default
    environment:
      - SCORINGENGINE_VERSION
      - DISPLAY=:1
    privileged: true
  web:
    image: mjarvy/scoring-engine-web
    depends_on:
      base:
        condition: service_started
      mysql:
        condition: service_healthy
      bootstrap:
        condition: service_completed_successfully
    healthcheck:
      # uwsgi exposes an HTTP stats server on port 9191; use it for liveness
      test: ["CMD", "curl", "-f", "http://localhost:9191"]
      interval: 30s
      timeout: 3s
      retries: 10
    restart: on-failure
    networks:
      - default
    volumes:
      - injects:/var/uploads/
    environment:
      - SCORINGENGINE_VERSION

volumes:
  injects:
  redis:
  mysql:

networks:
  default:
